*{
    margin:0;
}
html{
    width: 100vw;
    height: 100vh;
}

@mixin center-back($color){
    background-color:  $color;
    background-size: cover;
}
body{
    width: 100vw;
    height: 100vh;
    display: block;
    @include center-back(#242424c2);

    header{
        width:100vh ;
        height: 20vh;
        display: flex;
        position: relative;
        top: 0;
        color: white;
        @include center-back(#300bd6da)
    }

    main{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;

        article{
            display: flex;
            flex-direction: column;
            width: 90vw;
            height: 50vh;
            align-items: center;
            justify-content: center;
            section{
                height: 50%;
                &.image{
                    img{
                        object-fit: cover;
                        align-content: center;
                    }
                }
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        @include center-back(#300bd6da);
        color: white;
        p{
            padding: 20px;
        }
    }

}