*{
    margin:0;
}
html{
    width: 100vw;
    height: 100vh;
}

@mixin center-back($color){
    background-color:  $color;
    background-size: cover;
}
body{
    width: 100%;
    height: 100%;
    display: block;
    @include center-back(#242424c2);

    header{
        width:100%;
        height: 20%;
        display: flex;
        position: relative;
        color: white;
        @include center-back(#300bd6da);
        justify-content: center;
        align-items: center;
        button#switch{
            display: none;
        }
    }

    main{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;

        article{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            align-items: center;
            justify-content: center;
            @include center-back(#242424a1);
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.297) 0px 4px 6px, rgba(0, 0, 0, 0.272) 0px 12px 13px, rgba(132, 131, 131, 0.09) 0px -3px 5px;
            transform: scale(1);
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.05);
            }
            section{
                height: 50%;
                &.image{
                    width: 100%;
                    height: 50%;
                    img{
                        object-fit:cover;
                        width: 100%;
                        height: 100%; 
                        border-radius: 15px;
                    }
                }
                &.texte{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        font-size: 18px;
                        color: green;
                    }
                    h1{
                        font-size: 35px;
                    }
                    p{
                        text-align: center;
                    }
                    img{
                        width: 15%;
                        height: 15%;
                        border-radius: 50%;
                    }
                    a{
                        display: flex;
                        flex-direction: row;
                        img{
                            width: 10%;
                            height: 10%;
                        }
                    }
                }
            }
        }
    }

    footer{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        @include center-back(#300bd6da);
        color: white;
        p{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

}

@media only screen and (min-width : 1024px) {
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: auto;
        header{
            width: auto;
            justify-content: center;
            padding: 20px;
            h1{
                position: relative;
            }
            button#switch{
                border: 1px solid red;
                display: contents;
                position: relative;
                height: 20px;
                width: 20px;
                right: 0;
                img{
                    height: 20px;
                    width: 20px;
                }
            }
        }

        main{
            width: auto;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            place-content: center;
            place-items: center;
        }
        footer{
            p{
                margin-top:15px ;
                margin-bottom: 15px;
            }
        }
    }
}
